	/*******************************************************
	*       Wichtig für die Funktionalität des Spiels
	*******************************************************/
#game-board {
    background-color: #ccc;
    width: 80vmin;
    height: 45vmin;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(32, 1fr);   /** 16:9 **/
    margin-left: auto;
    margin-right: auto;     	    /*zentriert*/
}

.snake {
background-color: hsl(200, 100%, 50%);
border: .25vmin solid black;
}

.food {
background-color: hsl(50, 100%, 50%);
border: .25vmin solid black;
}

	/*******************************************************
	*                         Style
	*******************************************************/

.startAndScore {
margin-top: 15vmin;;
margin-left: 30vmax;     /*Schulpcs 30vmin  1920x1080p Resolution -> 30vmax / 30.3% / 36em / 54ch / 61.45vmin / 68ex //  6in / 15.23cm / 36pc / 152.3mm/ 432pt / 575px / 609.2Q*/
margin-bottom: 1%;
color: white; 
}

/*Beim Hovern werden sie heller*/
#diffBtn0:hover, #diffBtn1:hover, #diffBtn2:hover {
opacity: 0.8;
}

